# Cobalt Data
* Extract and manipulate data for analysis, visualization, and reporting. Data consists of: 
    * Master data: cleaned, adjusted, and filtered data from a single database table
    * Derived data: merged and formatted data from multiple database tables
    * Reporting data: includes both master data and derived data

In [1]:
# Modules
from cobalt_parameters import *
from cobalt_functions import *

import pandas as pd
import numpy as np

import re
import datetime
from collections import defaultdict

import glob
import os
import psycopg2
from sqlalchemy import create_engine

# Pandas view options
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 200)
pd.set_option('precision', 4)

# Master Data

In [2]:
# Connect to database
cursor,reporting_cursor = database_connect()

In [3]:
# List all Cobalt tables
query = """SELECT table_name FROM information_schema.tables WHERE table_schema='cobalt'"""
cursor.execute(query)
result = cursor.fetchall()

sorted(result)

[('account',),
 ('account_session',),
 ('account_session_answer',),
 ('account_source',),
 ('activity_action',),
 ('activity_tracking',),
 ('activity_type',),
 ('answer',),
 ('answer_category',),
 ('appointment',),
 ('appointment_type',),
 ('assessment',),
 ('assessment_type',),
 ('category',),
 ('category_mapping',),
 ('clinic',),
 ('content',),
 ('content_category',),
 ('content_type',),
 ('crisis_contact',),
 ('external_group_event_type',),
 ('feedback_contact',),
 ('geography_columns',),
 ('geometry_columns',),
 ('group_event_type',),
 ('institution',),
 ('institution_assessment',),
 ('load_blog_post',),
 ('load_tracking',),
 ('message_log',),
 ('message_status',),
 ('message_type',),
 ('payment_funding',),
 ('payment_type',),
 ('provider',),
 ('provider_appointment_type',),
 ('provider_availability',),
 ('provider_clinic',),
 ('provider_payment_type',),
 ('provider_payment_type_save',),
 ('provider_save',),
 ('provider_support_role',),
 ('provider_support_role_save',),
 ('question',),
 ('question_type',),
 ('raster_columns',),
 ('raster_overviews',),
 ('recommendation_level',),
 ('recommendation_level_to_support_role',),
 ('role',),
 ('spatial_ref_sys',),
 ('support_role',),
 ('v_account_session_answer',),
 ('v_accounts_for_stats',)]

## Accounts
* Note 08/25/2021: 
    * How many employees at Penn?
    * Are all employees eligible?
    * Other groups (students) eligible in future?

### Account

In [4]:
# Get account data
account = get_table_data(cursor, 'account')

# Adjust columns
account['year'] = account['created'].dt.year
account['month'] = account['created'].dt.month
account['week'] = account['created'].dt.week
account['day'] = account['created'].dt.day
account['year_month'] = account['created'].values.astype('datetime64[M]')
account['year_month_week'] = account['created'].values.astype('datetime64[W]')
account['dayofyear'] = account['created'].apply(lambda x: get_date_str(x))

# Filter for relevant data
account = account[(account['institution_id']=='PENN') & (account['role_id']=='PATIENT')]

# Time series data
acct_ts_data = pd.DataFrame(account.groupby(['year','month']).count().account_id)
acct_weekly_ts_data = pd.DataFrame(account.groupby(['year_month_week']).count().account_id)
acct_weekly_ts_data.index = pd.MultiIndex.from_arrays([acct_weekly_ts_data.index.year, 
                                                            acct_weekly_ts_data.index.month, 
                                                            acct_weekly_ts_data.index.day], 
                                                            names=['Year','Month','Week'])

# Time series data by account source
account_source_ts_data = pd.DataFrame(account.groupby(['year','month','account_source_id']).count().account_id)
account_source_ts_data = account_source_ts_data.unstack().fillna(0).account_id

account_source_weekly_ts_data = pd.DataFrame(account.groupby(['year_month_week', 'account_source_id']).count()).account_id
account_source_weekly_ts_data = account_source_weekly_ts_data.unstack().fillna(0)
account_source_weekly_ts_data.index = pd.MultiIndex.from_arrays([account_source_weekly_ts_data.index.year, 
                                                      account_source_weekly_ts_data.index.month, 
                                                      account_source_weekly_ts_data.index.day], 
                                                      names=['Year','Month','Week'])

In [5]:
# Save master data
account.to_csv(MASTER_DATA_PATH + 'account_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [6]:
# Display adjusted data
account.head(2)

,account_id,role_id,institution_id,account_source_id,sso_id,first_name,last_name,display_name,email_address,phone_number,sso_attributes,consent_form_accepted,consent_form_accepted_date,locale,time_zone,created,last_updated,epic_patient_id,epic_patient_id_type,epic_patient_created_by_cobalt,password,source_system_id,provider_id,beta_status_id,year,month,week,day,year_month,year_month_week,dayofyear
0,afe7ff25-775e-4518-822b-a5bb56683d7d,PATIENT,PENN,ANONYMOUS,None,None,None,None,None,None,None,False,NaT,en-US,America/New_York,2021-04-08 14:08:38.598732+00:00,2021-04-08 14:08:38.598732+00:00,None,None,False,None,COBALT,None,UNKNOWN,2021,4,14,8,2021-04-01,2021-04-08,20210408
1,3115d538-f423-4618-b23b-ec6ac9e554a9,PATIENT,PENN,ANONYMOUS,None,None,None,None,None,None,None,False,NaT,en-US,America/New_York,2021-05-18 10:00:00.228881+00:00,2021-05-18 10:00:00.228881+00:00,None,None,False,None,COBALT,None,UNKNOWN,2021,5,20,18,2021-05-01,2021-05-13,20210518

### Stats Accounts

In [7]:
# Get account data
accounts_for_stats = get_table_data(cursor, 'v_accounts_for_stats')

# Adjust columns
accounts_for_stats['year'] = accounts_for_stats['created'].dt.year
accounts_for_stats['month'] = accounts_for_stats['created'].dt.month
accounts_for_stats['week'] = accounts_for_stats['created'].dt.week
accounts_for_stats['day'] = accounts_for_stats['created'].dt.day
accounts_for_stats['year_month'] = accounts_for_stats['created'].values.astype('datetime64[M]')
accounts_for_stats['year_month_week'] = accounts_for_stats['created'].values.astype('datetime64[W]')
accounts_for_stats['dayofyear'] = accounts_for_stats['created'].apply(lambda x: get_date_str(x))

# Filter for relevant data
accounts_for_stats = accounts_for_stats[(accounts_for_stats['institution_id']=='PENN') & (accounts_for_stats['role_id']=='PATIENT')]

# Time series data
acct_stats_ts_data = pd.DataFrame(accounts_for_stats.groupby(['year','month']).count().account_id)
acct_stats_weekly_ts_data = pd.DataFrame(accounts_for_stats.groupby(['year_month_week']).count().account_id)
acct_stats_weekly_ts_data.index = pd.MultiIndex.from_arrays([acct_stats_weekly_ts_data.index.year, 
                                                            acct_stats_weekly_ts_data.index.month, 
                                                            acct_stats_weekly_ts_data.index.day], 
                                                            names=['Year','Month','Week'])

In [8]:
# Save master data
accounts_for_stats.to_csv(MASTER_DATA_PATH + 'accounts_for_stats_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [9]:
# Display adjusted data
accounts_for_stats.head(2)

,account_id,role_id,institution_id,account_source_id,sso_id,first_name,last_name,display_name,email_address,phone_number,sso_attributes,consent_form_accepted,consent_form_accepted_date,locale,time_zone,created,last_updated,year,month,week,day,year_month,year_month_week,dayofyear
0,afe7ff25-775e-4518-822b-a5bb56683d7d,PATIENT,PENN,ANONYMOUS,None,None,None,None,None,None,None,False,NaT,en-US,America/New_York,2021-04-08 14:08:38.598732+00:00,2021-04-08 14:08:38.598732+00:00,2021,4,14,8,2021-04-01,2021-04-08,20210408
1,3115d538-f423-4618-b23b-ec6ac9e554a9,PATIENT,PENN,ANONYMOUS,None,None,None,None,None,None,None,False,NaT,en-US,America/New_York,2021-05-18 10:00:00.228881+00:00,2021-05-18 10:00:00.228881+00:00,2021,5,20,18,2021-05-01,2021-05-13,20210518

## Providers
* NOTE 08/31/2021: Removing providers with system affinity id PIC changes counts of future appts and appt availability
    * Removing these providers also drastically changes the historic availability counts 4.4k --> 2.7k
    * Why is this? and do we still want to remove these providers?

### Provider

In [10]:
# Get provider data
provider = get_table_data(cursor, 'provider')

# Adjust columns
provider['year'] = provider['created'].dt.year
provider['month'] = provider['created'].dt.month
provider['day'] = provider['created'].dt.day
provider['year_month'] = provider['created'].values.astype('datetime64[M]')
provider['year_month_week'] = provider['created'].values.astype('datetime64[W]')
provider['dayofyear'] = provider['created'].apply(lambda x: get_date_str(x))

# Filter for relevant data
provider = provider[provider['institution_id']=='PENN']
provider = provider[provider.system_affinity_id != 'PIC']

# Time series data
prov_ts_data = pd.DataFrame(provider.groupby(['year','month']).count().provider_id)
prov_ts_data = prov_ts_data.merge(acct_ts_data, how='outer', left_index=True, right_index=True) # Get missing index values
prov_ts_data = pd.DataFrame(prov_ts_data.fillna(0)['provider_id'])

prov_weekly_ts_data = pd.DataFrame(provider.groupby(['year_month_week']).count().provider_id)
prov_weekly_ts_data.index = pd.MultiIndex.from_arrays([prov_weekly_ts_data.index.year, 
                                                      prov_weekly_ts_data.index.month, 
                                                      prov_weekly_ts_data.index.day], 
                                                      names=['Year','Month','Week'])
prov_weekly_ts_data = prov_weekly_ts_data.merge(acct_weekly_ts_data, how='outer', left_index=True, right_index=True)# Get missing index values
prov_weekly_ts_data = pd.DataFrame(prov_weekly_ts_data.fillna(0)['provider_id'])

In [11]:
# Save master data
provider.to_csv(MASTER_DATA_PATH + 'provider_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [12]:
# Display adjusted data
provider.head(2)

,provider_id,institution_id,name,title,email_address,image_url,locale,time_zone,acuity_calendar_id,bluejeans_user_id,tags,created,last_updated,entity,clinic,license,specialty,intake_assessment_id,active,scheduling_system_id,epic_provider_id,epic_provider_id_type,videoconference_platform_id,videoconference_url,epic_appointment_filter_id,system_affinity_id,year,month,day,year_month,year_month_week,dayofyear
0,688e0886-b776-4b95-89e6-2329a123ccfc,PENN,University of Pennsylvania Employee Assistance...,EAP Intake Counselor from Health Advocate,EAP-Connect@healthadvocate.com,https://penncobalt.s3.us-east-2.amazonaws.com/...,en-US,America/New_York,4248614.0,3874544,None,2020-07-30 18:05:32.597044+00:00,2021-09-08 14:14:36.323553+00:00,None,Health Advocate,None,None,None,True,ACUITY,None,None,TELEPHONE,8667992329,NONE,COBALT,2020,7,30,2020-07-01,2020-07-30,20200730
2,8f3f7c98-ce1c-42b3-9840-1b49ff83a4ce,PENN,Albert Yu,Psychiatry Resident,Albert.Yu2@pennmedicine.upenn.edu,https://penncobalt.s3.us-east-2.amazonaws.com/...,en-US,America/New_York,3920955.0,3874544,None,2020-05-12 19:30:31.277641+00:00,2021-07-23 18:07:03.888723+00:00,UPHS,Outpatient Psychiatry Center (OPC),MD,None,None,True,ACUITY,None,None,BLUEJEANS,None,NONE,COBALT,2020,5,12,2020-05-01,2020-05-07,20200512

### Provider Support Role

In [13]:
# Get provider role data
provider_support_role = get_table_data(cursor, 'provider_support_role')

# Filter for relevant data
provider_support_role = provider_support_role[provider_support_role['provider_id'].isin(provider['provider_id'])]

In [14]:
# Save master data
provider_support_role.to_csv(MASTER_DATA_PATH + 'provider_role_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [15]:
# Display adjusted data
provider_support_role.head(2)

                            provider_id support_role_id
0  38e2bbb1-7930-40b3-ab7c-dc87eadf6444    PSYCHIATRIST
1  8f3f7c98-ce1c-42b3-9840-1b49ff83a4ce            PEER

### Provider Appointment Type

In [16]:
# Get provider appointment type data
provider_appointment_type = get_table_data(cursor, 'provider_appointment_type')

# Filter for relevant data
provider_appointment_type = provider_appointment_type[provider_appointment_type['provider_id'].isin(provider['provider_id'])]

In [17]:
# Display adjusted data
provider_appointment_type.head(2)

,provider_appointment_type_id,provider_id,display_order,created,last_updated,appointment_type_id
0,02f452b0-d150-4c89-8ee7-f6600727be60,38e2bbb1-7930-40b3-ab7c-dc87eadf6444,1,2020-07-18 01:38:53.757424+00:00,2020-07-18 01:38:53.757424+00:00,367d33ad-2aad-4fea-a2a1-ea397e18fe43
1,85e6ce45-07ea-4729-b7ca-c799790a246f,38e2bbb1-7930-40b3-ab7c-dc87eadf6444,2,2020-07-18 01:38:53.757424+00:00,2020-07-18 01:38:53.757424+00:00,86b14268-96d9-45e9-9867-677b3d010385

## Appointments

### Appointment Type

In [18]:
# Get appointment type data
appointment_type = get_table_data(cursor, 'appointment_type')

appointment_type_dict = dict(zip(appointment_type.appointment_type_id, appointment_type.name))

In [19]:
# Display adjusted data
appointment_type.head(2)

,appointment_type_id,acuity_appointment_type_id,name,description,duration_in_minutes,deleted,created,last_updated,scheduling_system_id,epic_visit_type_id,epic_visit_type_id_type,visit_type_id
0,2294b4f1-7fad-454f-a118-06b479356d7d,1.3870e+07,1:1 Appointment with Psychotherapist,None,60,False,2020-04-29 22:49:45.585841+00:00,2021-02-05 22:32:12.739208+00:00,ACUITY,None,None,OTHER
1,a2cab967-9dc1-4327-94dd-da4be7652542,2.1475e+07,1:1 CTSA Intake Appointment,None,45,False,2021-03-23 20:43:48.450351+00:00,2021-03-23 20:58:49.167044+00:00,ACUITY,None,None,OTHER

### Booked Appointments

In [20]:
# Get appointment data
appointment = get_table_data(cursor, 'appointment')

# Adjust columns
appointment['start_time'] = appointment['start_time'].dt.tz_localize(tz='US/Eastern')
appointment['created'] = appointment['created'].dt.tz_convert(tz='US/Eastern')

appointment['created_year'] = appointment['created'].dt.year
appointment['created_month'] = appointment['created'].dt.month
appointment['created_day'] = appointment['created'].dt.day
appointment['created_year_month'] = appointment['created'].values.astype('datetime64[M]')
appointment['created_year_month_week'] = appointment['created'].values.astype('datetime64[W]')
appointment['created_dayofyear'] = appointment['created'].apply(lambda x: get_date_str(x))

appointment['apt_year'] = appointment['start_time'].dt.year
appointment['apt_month'] = appointment['start_time'].dt.month
appointment['apt_day'] = appointment['start_time'].dt.day
appointment['apt_year_month'] = appointment['start_time'].values.astype('datetime64[M]')
appointment['apt_year_month_week'] = appointment['start_time'].values.astype('datetime64[W]')
appointment['apt_dayofyear'] = appointment['start_time'].apply(lambda x: get_date_str(x))

appointment['created_completed_time']=((appointment['start_time'] - appointment['created'])/np.timedelta64(1, 'D')).round()
appointment['appointment_type_name'] = appointment['appointment_type_id'].map(appointment_type_dict)
appointment = get_appt_provider_role_df(appointment, provider_support_role)

# Filter for relevant data
appointment = appointment[appointment['created'] < appointment['start_time']]
appointment = appointment.groupby(['account_id']).filter(lambda x: len(x)<50)
appointment = appointment[appointment['account_id'].isin(account['account_id'])]
appointment = appointment[appointment['provider_id'].isin(provider['provider_id'])]
appointment = appointment[appointment['acuity_class_id'].isnull()]

# Appointment Subsets
appointment_completed = appointment[appointment['canceled']==False]
appointment_canceled = appointment[appointment['canceled']==True]

appointment_future = appointment[appointment['start_time'] >= current_date]
appointment_future_30day = appointment_future[appointment_future['start_time'] <= future_30day]
appointment_future_90day = appointment_future[appointment_future['start_time'] <= future_90day]

appointment_past = appointment[appointment['start_time'] <= current_date]
appointment_past_30day = appointment_past[appointment_past['start_time'] >= past_30day]
appointment_past_90day = appointment_past[appointment_past['start_time'] >= past_90day]

# Time series data
apt_ts_data = pd.DataFrame(appointment.groupby(['apt_year','apt_month']).count().appointment_id)
apt_ts_data.index.names = ['year','month']
apt_weekly_ts_data = pd.DataFrame(appointment.groupby(['apt_year_month_week']).count().appointment_id)
apt_weekly_ts_data.index = pd.MultiIndex.from_arrays([apt_weekly_ts_data.index.year, 
                                                      apt_weekly_ts_data.index.month, 
                                                      apt_weekly_ts_data.index.day], 
                                                      names=['Year','Month','Week'])

apt_completed_ts_data = pd.DataFrame(appointment_completed.groupby(['apt_year','apt_month']).count().appointment_id)
apt_completed_ts_data.index.names = ['year','month']
apt_weekly_completed_ts_data = pd.DataFrame(appointment_completed.groupby(['apt_year_month_week']).count().appointment_id)
apt_weekly_completed_ts_data.index = pd.MultiIndex.from_arrays([apt_weekly_completed_ts_data.index.year, 
                                                                apt_weekly_completed_ts_data.index.month, 
                                                                apt_weekly_completed_ts_data.index.day],
                                                                names=['Year','Month','Week'])

apt_canceled_ts_data = pd.DataFrame(appointment_canceled.groupby(['apt_year','apt_month']).count().appointment_id)
apt_canceled_ts_data.index.names = ['year','month']
apt_weekly_canceled_ts_data = pd.DataFrame(appointment_canceled.groupby(['apt_year_month_week']).count().appointment_id)
apt_weekly_canceled_ts_data.index = pd.MultiIndex.from_arrays([apt_weekly_canceled_ts_data.index.year, 
                                                                apt_weekly_canceled_ts_data.index.month, 
                                                                apt_weekly_canceled_ts_data.index.day],
                                                                names=['Year','Month','Week'])

# Time series data by provider role
aptRole_ts_data = pd.DataFrame(appointment.groupby(['apt_year','apt_month','support_role_id']).count().appointment_id)
aptRole_ts_data = aptRole_ts_data.unstack().fillna(0).appointment_id
aptRole_ts_data.index.names = ['year','month']

aptRole_weekly_ts_data = pd.DataFrame(appointment.groupby(['apt_year_month_week', 'support_role_id']).count()).appointment_id
aptRole_weekly_ts_data = aptRole_weekly_ts_data.unstack().fillna(0)
aptRole_weekly_ts_data.index = pd.MultiIndex.from_arrays([aptRole_weekly_ts_data.index.year, 
                                                      aptRole_weekly_ts_data.index.month, 
                                                      aptRole_weekly_ts_data.index.day], 
                                                      names=['Year','Month','Week'])

In [21]:
# Save master data
appointment.to_csv(MASTER_DATA_PATH + 'appointment_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [22]:
# Display adjusted data
appointment.head(2)

,appointment_id,provider_id,account_id,acuity_appointment_id,acuity_appointment_type_id,acuity_class_id,bluejeans_meeting_id,videoconference_url,title,start_time,end_time,duration_in_minutes,time_zone,canceled,canceled_at,created,last_updated,epic_contact_id,epic_contact_id_type,appointment_type_id,phone_number,videoconference_platform_id,appointment_reason_id,created_by_account_id,comment,attendance_status_id,bluejeans_participant_passcode,created_year,created_month,created_day,created_year_month,created_year_month_week,created_dayofyear,apt_year,apt_month,apt_day,apt_year_month,apt_year_month_week,apt_dayofyear,created_completed_time,appointment_type_name,support_role_id
0,79645ba1-ac0c-4df3-9805-7abf906f3bd0,688e0886-b776-4b95-89e6-2329a123ccfc,05c14c3c-56c6-4dcf-901f-2984b87dc2eb,5.6782e+08,NaN,NaN,NaN,https://www.penncobalt.com/appointments/79645b...,1:1 with Care Manager,2021-04-14 16:30:00-04:00,2021-04-14 17:00:00,30,America/New_York,False,NaT,2021-04-08 21:34:05.391887-04:00,2021-04-09 01:34:05.391887+00:00,None,None,aef3538a-73fa-40cf-8d3f-367022913b9c,8667992329,TELEPHONE,3c34a096-2f4d-4091-a9d8-f0381ba079a1,05c14c3c-56c6-4dcf-901f-2984b87dc2eb,None,UNKNOWN,None,2021,4,8,2021-04-01,2021-04-08,20210408,2021,4,14,2021-04-01,2021-04-08,20210414,6.0,1:1 with Care Manager,CARE_MANAGER
1,36008e5c-acba-4b6d-afec-b12e9e3a3a4a,688e0886-b776-4b95-89e6-2329a123ccfc,742c59f7-dcb3-44d7-ae39-5b3ce80a2307,6.2431e+08,NaN,NaN,NaN,https://www.penncobalt.com/appointments/36008e...,1:1 with Care Manager,2021-07-07 15:30:00-04:00,2021-07-07 16:00:00,30,America/New_York,False,NaT,2021-07-01 23:12:58.741226-04:00,2021-07-02 03:12:58.741226+00:00,None,None,aef3538a-73fa-40cf-8d3f-367022913b9c,8667992329,TELEPHONE,3c34a096-2f4d-4091-a9d8-f0381ba079a1,742c59f7-dcb3-44d7-ae39-5b3ce80a2307,None,UNKNOWN,None,2021,7,1,2021-07-01,2021-07-01,20210701,2021,7,7,2021-07-01,2021-07-01,20210707,6.0,1:1 with Care Manager,CARE_MANAGER

In [23]:
# Display adjusted data
appointment_future.head(2)

,appointment_id,provider_id,account_id,acuity_appointment_id,acuity_appointment_type_id,acuity_class_id,bluejeans_meeting_id,videoconference_url,title,start_time,end_time,duration_in_minutes,time_zone,canceled,canceled_at,created,last_updated,epic_contact_id,epic_contact_id_type,appointment_type_id,phone_number,videoconference_platform_id,appointment_reason_id,created_by_account_id,comment,attendance_status_id,bluejeans_participant_passcode,created_year,created_month,created_day,created_year_month,created_year_month_week,created_dayofyear,apt_year,apt_month,apt_day,apt_year_month,apt_year_month_week,apt_dayofyear,created_completed_time,appointment_type_name,support_role_id
35,4812f5be-edc8-470a-8f66-fe0daeedce90,688e0886-b776-4b95-89e6-2329a123ccfc,9ef8465a-1c07-4ca1-8632-f4f7ccc04af2,6.8045e+08,NaN,NaN,NaN,https://www.penncobalt.com/appointments/4812f5...,1:1 with Care Manager,2021-10-14 11:30:00-04:00,2021-10-14 12:00:00,30,America/New_York,False,NaT,2021-09-30 15:13:46.055653-04:00,2021-09-30 19:13:46.055653+00:00,None,None,aef3538a-73fa-40cf-8d3f-367022913b9c,8667992329,TELEPHONE,3c34a096-2f4d-4091-a9d8-f0381ba079a1,9ef8465a-1c07-4ca1-8632-f4f7ccc04af2,None,UNKNOWN,None,2021,9,30,2021-09-01,2021-09-30,20210930,2021,10,14,2021-10-01,2021-10-14,20211014,14.0,1:1 with Care Manager,CARE_MANAGER
60,dda4bb7e-b340-47cf-8b52-9cd18479786f,688e0886-b776-4b95-89e6-2329a123ccfc,157af30a-098e-4099-aad1-8227239ec1d6,6.8428e+08,NaN,NaN,NaN,https://www.penncobalt.com/appointments/dda4bb...,1:1 with Care Manager,2021-10-12 11:00:00-04:00,2021-10-12 11:30:00,30,America/New_York,False,NaT,2021-10-06 16:18:21.233248-04:00,2021-10-06 20:18:21.233248+00:00,None,None,aef3538a-73fa-40cf-8d3f-367022913b9c,8667992329,TELEPHONE,3c34a096-2f4d-4091-a9d8-f0381ba079a1,157af30a-098e-4099-aad1-8227239ec1d6,None,UNKNOWN,None,2021,10,6,2021-10-01,2021-09-30,20211006,2021,10,12,2021-10-01,2021-10-07,20211012,6.0,1:1 with Care Manager,CARE_MANAGER

### Available Appointments

In [24]:
# Get provider availability data
provider_availability = get_table_data(cursor, 'provider_availability')

# Adjust columns
provider_availability['date_time'] = provider_availability['date_time'].dt.tz_localize(tz='US/Eastern')
provider_availability['created'] = provider_availability['created'].dt.tz_convert(tz='US/Eastern')

provider_availability['created_year'] = provider_availability['created'].dt.year
provider_availability['created_month'] = provider_availability['created'].dt.month
provider_availability['created_day'] = provider_availability['created'].dt.day
provider_availability['created_year_month'] = provider_availability['created'].values.astype('datetime64[M]')
provider_availability['created_year_month_week'] = provider_availability['created'].values.astype('datetime64[W]')
provider_availability['created_dayofyear'] = provider_availability['created'].apply(lambda x: get_date_str(x))

provider_availability['apt_year'] = provider_availability['date_time'].dt.year
provider_availability['apt_month'] = provider_availability['date_time'].dt.month
provider_availability['apt_day'] = provider_availability['date_time'].dt.day
provider_availability['apt_year_month'] = provider_availability['date_time'].values.astype('datetime64[M]')
provider_availability['apt_year_month_week'] = provider_availability['date_time'].values.astype('datetime64[W]')
provider_availability['apt_dayofyear'] = provider_availability['date_time'].apply(lambda x: get_date_str(x))

provider_availability['appointment_type_name'] = provider_availability['appointment_type_id'].map(appointment_type_dict)
provider_availability = get_appt_provider_role_df(provider_availability, provider_support_role)

# Filter for relevant data
provider_availability = provider_availability[provider_availability['provider_id'].isin(provider['provider_id'])]

# Provider availability subsets
provider_availability_future = provider_availability[provider_availability['date_time'] >= current_date]
provider_availability_future_30day = provider_availability_future[provider_availability_future['date_time'] <= future_30day]
provider_availability_future_90day = provider_availability_future[provider_availability_future['date_time'] <= future_90day]

provider_availability_past = provider_availability[provider_availability['date_time'] <= current_date]
provider_availability_past_30day = provider_availability_past[provider_availability_past['date_time'] >= past_30day]
provider_availability_past_90day = provider_availability_past[provider_availability_past['date_time'] >= past_90day]

# Time series data
apt_avail_ts_data = pd.DataFrame(provider_availability.groupby(['apt_year','apt_month']).count().provider_availability_id)
apt_avail_ts_data.index.names = ['year','month']
apt_avail_weekly_ts_data = pd.DataFrame(provider_availability.groupby(['apt_year_month_week']).count().provider_availability_id)
apt_avail_weekly_ts_data.index = pd.MultiIndex.from_arrays([apt_avail_weekly_ts_data.index.year, 
                                                            apt_avail_weekly_ts_data.index.month, 
                                                            apt_avail_weekly_ts_data.index.day], 
                                                            names=['Year','Month','Week'])

# Time series data by provider role
aptRole_avail_ts_data = pd.DataFrame(provider_availability.groupby(['apt_year','apt_month','support_role_id']).count().provider_availability_id)
aptRole_avail_ts_data = aptRole_avail_ts_data.unstack().fillna(0).provider_availability_id
aptRole_avail_ts_data.index.names = ['year','month']

aptRole_avail_weekly_ts_data = pd.DataFrame(provider_availability.groupby(['apt_year_month_week', 'support_role_id']).count()).provider_availability_id
aptRole_avail_weekly_ts_data = aptRole_avail_weekly_ts_data.unstack().fillna(0)
aptRole_avail_weekly_ts_data.index = pd.MultiIndex.from_arrays([aptRole_avail_weekly_ts_data.index.year, 
                                                      aptRole_avail_weekly_ts_data.index.month, 
                                                      aptRole_avail_weekly_ts_data.index.day], 
                                                      names=['Year','Month','Week'])

In [25]:
# Save master data
provider_availability.to_csv(MASTER_DATA_PATH + 'provider_availability_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [26]:
# Display adjusted data
provider_availability.head(2)

,provider_availability_id,provider_id,date_time,created,last_updated,appointment_type_id,epic_department_id,logical_availability_id,created_year,created_month,created_day,created_year_month,created_year_month_week,created_dayofyear,apt_year,apt_month,apt_day,apt_year_month,apt_year_month_week,apt_dayofyear,appointment_type_name,support_role_id
0,96fb8f4c-b69a-4088-b4ec-768da3b65cf6,fa7d89ad-a40f-480c-8b09-d11877a3477a,2021-10-12 16:00:00-04:00,2021-10-11 14:32:19.731918-04:00,2021-10-11 18:32:19.731918+00:00,15323b02-7f86-4e53-b39b-181964ddb5ce,None,None,2021,10,11,2021-10-01,2021-10-07,20211011,2021,10,12,2021-10-01,2021-10-07,20211012,1:1 Session with Resilience Coach,COACH
1,2aba369c-bc71-48d2-aa7b-7777314a4a27,fa7d89ad-a40f-480c-8b09-d11877a3477a,2021-10-14 16:00:00-04:00,2021-10-11 14:32:19.741415-04:00,2021-10-11 18:32:19.741415+00:00,15323b02-7f86-4e53-b39b-181964ddb5ce,None,None,2021,10,11,2021-10-01,2021-10-07,20211011,2021,10,14,2021-10-01,2021-10-14,20211014,1:1 Session with Resilience Coach,COACH

In [27]:
# Display adjusted data
provider_availability_future.head(2)

,provider_availability_id,provider_id,date_time,created,last_updated,appointment_type_id,epic_department_id,logical_availability_id,created_year,created_month,created_day,created_year_month,created_year_month_week,created_dayofyear,apt_year,apt_month,apt_day,apt_year_month,apt_year_month_week,apt_dayofyear,appointment_type_name,support_role_id
0,96fb8f4c-b69a-4088-b4ec-768da3b65cf6,fa7d89ad-a40f-480c-8b09-d11877a3477a,2021-10-12 16:00:00-04:00,2021-10-11 14:32:19.731918-04:00,2021-10-11 18:32:19.731918+00:00,15323b02-7f86-4e53-b39b-181964ddb5ce,None,None,2021,10,11,2021-10-01,2021-10-07,20211011,2021,10,12,2021-10-01,2021-10-07,20211012,1:1 Session with Resilience Coach,COACH
1,2aba369c-bc71-48d2-aa7b-7777314a4a27,fa7d89ad-a40f-480c-8b09-d11877a3477a,2021-10-14 16:00:00-04:00,2021-10-11 14:32:19.741415-04:00,2021-10-11 18:32:19.741415+00:00,15323b02-7f86-4e53-b39b-181964ddb5ce,None,None,2021,10,11,2021-10-01,2021-10-07,20211011,2021,10,14,2021-10-01,2021-10-14,20211014,1:1 Session with Resilience Coach,COACH

#### Historic Availability Log

In [28]:
"""

# Get historic provider availability data
historic_availability_log = get_table_data(reporting_cursor, 'provider_old_availability_sync_log')

# Adjust columns
historic_availability_log['date'] = pd.to_datetime(historic_availability_log['date']).dt.tz_localize(tz='US/Eastern')
historic_availability_log['sync_timestamp'] = historic_availability_log['sync_timestamp'].dt.tz_convert(tz='US/Eastern')

historic_availability_log['sync_year'] = historic_availability_log['sync_timestamp'].dt.year
historic_availability_log['sync_month'] = historic_availability_log['sync_timestamp'].dt.month
historic_availability_log['sync_day'] = historic_availability_log['sync_timestamp'].dt.day
historic_availability_log['sync_year_month'] = historic_availability_log['sync_timestamp'].values.astype('datetime64[M]')
historic_availability_log['sync_year_month_week'] = historic_availability_log['sync_timestamp'].values.astype('datetime64[W]')
historic_availability_log['sync_dayofyear'] = historic_availability_log['sync_timestamp'].apply(lambda x: get_date_str(x))

historic_availability_log['apt_year'] = historic_availability_log['date'].dt.year
historic_availability_log['apt_month'] = historic_availability_log['date'].dt.month
historic_availability_log['apt_day'] = historic_availability_log['date'].dt.day
historic_availability_log['apt_year_month'] = historic_availability_log['date'].values.astype('datetime64[M]')
historic_availability_log['apt_year_month_week'] = historic_availability_log['date'].values.astype('datetime64[W]')
historic_availability_log['apt_dayofyear'] = historic_availability_log['date'].apply(lambda x: get_date_str(x))

# Filter for relevant data
historic_availability_log = historic_availability_log[historic_availability_log['provider_id'].isin(provider['provider_id'])]

# Save master data
historic_availability_log.to_csv(MASTER_DATA_PATH + 'historic_availability_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

# Display adjusted data
historic_availability_log.head(2)

"""

"\n\n# Get historic provider availability data\nhistoric_availability_log = get_table_data(reporting_cursor, 'provider_old_availability_sync_log')\n\n# Adjust columns\nhistoric_availability_log['date'] = pd.to_datetime(historic_availability_log['date']).dt.tz_localize(tz='US/Eastern')\nhistoric_availability_log['sync_timestamp'] = historic_availability_log['sync_timestamp'].dt.tz_convert(tz='US/Eastern')\n\nhistoric_availability_log['sync_year'] = historic_availability_log['sync_timestamp'].dt.year\nhistoric_availability_log['sync_month'] = historic_availability_log['sync_timestamp'].dt.month\nhistoric_availability_log['sync_day'] = historic_availability_log['sync_timestamp'].dt.day\nhistoric_availability_log['sync_year_month'] = historic_availability_log['sync_timestamp'].values.astype('datetime64[M]')\nhistoric_availability_log['sync_year_month_week'] = historic_availability_log['sync_timestamp'].values.astype('datetime64[W]')\nhistoric_availability_log['sync_dayofyear'] = historic_availability_log['sync_timestamp'].apply(lambda x: get_date_str(x))\n\nhistoric_availability_log['apt_year'] = historic_availability_log['date'].dt.year\nhistoric_availability_log['apt_month'] = historic_availability_log['date'].dt.month\nhistoric_availability_log['apt_day'] = historic_availability_log['date'].dt.day\nhistoric_availability_log['apt_year_month'] = historic_availability_log['date'].values.astype('datetime64[M]')\nhistoric_availability_log['apt_year_month_week'] = historic_availability_log['date'].values.astype('datetime64[W]')\nhistoric_availability_log['apt_dayofyear'] = historic_availability_log['date'].apply(lambda x: get_date_str(x))\n\n# Filter for relevant data\nhistoric_availability_log = historic_availability_log[historic_availability_log['provider_id'].isin(provider['provider_id'])]\n\n# Save master data\nhistoric_availability_log.to_csv(MASTER_DATA_PATH + 'historic_availability_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')\n\n# Display adjusted data\nhistoric_availability_log.head(2)\n\n"

## Assessments

### Assessment

In [29]:
# Get assessment data
assessment = get_table_data(cursor, 'assessment')
assessment_dict = dict(zip(assessment.assessment_id, assessment.assessment_type_id))

# Assessment IDs
PHQ4_id = assessment[assessment['assessment_type_id']=='PHQ4'].assessment_id.values[0]
PHQ9_id = assessment[assessment['assessment_type_id']=='PHQ9'].assessment_id.values[0]
GAD7_id = assessment[assessment['assessment_type_id']=='GAD7'].assessment_id.values[0]
PCPTSD_id = assessment[assessment['assessment_type_id']=='PCPTSD'].assessment_id.values[0]
RCT_ids = assessment[(assessment['assessment_type_id']=='PHQ9') | (assessment['assessment_type_id']=='GAD7')].assessment_id.values

In [30]:
# Save master data
assessment.to_csv(MASTER_DATA_PATH + 'assessment_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [31]:
# Display adjusted data
assessment.head(2)

,assessment_id,assessment_type_id,base_question,next_assessment_id,created,last_updated,minimum_eligibility_score,ineligible_message,answers_may_contain_pii
0,8f977685-236c-4bdc-b28d-4f34167a2f1d,GAD7,"Over the last two weeks, how often have you be...",35efce12-dac3-4b4e-9207-84ecba44d2a4,2020-04-12 14:54:27.650335+00:00,2020-04-12 14:54:27.650335+00:00,0,None,False
1,97d1e727-7ba2-47f9-8662-ed8b40cf69d0,PHQ9,"Over the last two weeks, how often have you be...",8f977685-236c-4bdc-b28d-4f34167a2f1d,2020-04-12 14:54:28.879192+00:00,2020-04-12 14:54:28.879192+00:00,0,None,False

### Assessment Type

In [32]:
# Get assessment type data
assessment_type = get_table_data(cursor, 'assessment_type')

In [33]:
# Save master data
assessment_type.to_csv(MASTER_DATA_PATH + 'assessment_type_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [34]:
# Display adjusted data
assessment_type.head(2)

  assessment_type_id                description
0              INTRO        Introductory Survey
1               PHQ4  Evidence-Based Assessment

### Answer

In [35]:
# Get answer data
answer = get_table_data(cursor, 'answer')

In [36]:
# Save master data
answer.to_csv(MASTER_DATA_PATH + 'answer_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [37]:
# Display adjusted data
answer.head(2)

,answer_id,question_id,answer_text,display_order,answer_value,crisis,created,last_updated,call,next_question_id
0,b3c8131a-c27f-4e1e-a028-ce605c321fc2,152784db-0962-4eaa-9e51-f54027f8b7ff,yes,1,0,False,2020-06-02 12:30:32.107099+00:00,2020-06-02 12:30:32.107099+00:00,False,None
1,0f7c098d-8b35-4ab1-819d-7cbaa86c2216,152784db-0962-4eaa-9e51-f54027f8b7ff,no,2,1,False,2020-06-02 12:30:32.107099+00:00,2020-06-02 12:30:32.107099+00:00,False,None

### Answer Category

In [38]:
# Get answer category data
answer_category = get_table_data(cursor, 'answer_category')

In [39]:
# Save master data
answer_category.to_csv(MASTER_DATA_PATH + 'answer_category_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [40]:
# Display adjusted data
answer_category.head(2)

,answer_category_id,answer_id,category_id,created,last_updated
0,3fd34678-0612-40b1-9c9d-73e964d26b15,439285ca-45c9-4ca7-85b1-cbc0d73ea131,1.1,2020-04-12 14:54:32.764931+00:00,2020-04-12 14:54:32.764931+00:00
1,5a4e6386-18aa-4560-a0df-a90eb2bf595c,439285ca-45c9-4ca7-85b1-cbc0d73ea131,1.7,2020-04-12 14:54:32.764931+00:00,2020-04-12 14:54:32.764931+00:00

### Category

In [41]:
# Get category data
category = get_table_data(cursor, 'category')

In [42]:
# Save master data
category.to_csv(MASTER_DATA_PATH + 'category_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [43]:
# Display adjusted data
category.head(2)

  category_id                description
0         1.1  1.1 My mood on covid unit
1         1.2    1.2 My mood in hospital

### Question
* overlapping phq4 questions excluded from phq9 and gad7

In [44]:
# Get question data
question = get_table_data(cursor, 'question')
question_text_dict = dict(zip(question.question_id, question.question_text))


# Adjust columns
question['assessment_name'] = question['assessment_id'].map(assessment_dict)

# Get corrected assessment question lists
PHQ4_questions = question[question['assessment_id']==PHQ4_id].question_id.values

PHQ9_q1q2 = question[question['assessment_id']==PHQ4_id].loc[[20,19],'question_id'].to_list()
PHQ9_questions = question[question['assessment_id']==PHQ9_id].question_id.to_list()
PHQ9_questions = PHQ9_q1q2 + PHQ9_questions

GAD7_q1q2 = question[question['assessment_id']==PHQ4_id].loc[[17,18],'question_id'].to_list()
GAD7_questions = question[question['assessment_id']==GAD7_id].question_id.to_list()
GAD7_questions = GAD7_q1q2 + GAD7_questions

PCPTSD_questions = question[question['assessment_id']==PCPTSD_id].question_id.values

RCT_questions = PHQ9_questions + GAD7_questions

In [45]:
# Save master data
question.to_csv(MASTER_DATA_PATH + 'question_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [46]:
# Display adjusted data
question.head(2)

,question_id,assessment_id,question_type_id,question_text,answer_column_count,display_order,created,last_updated,is_root_question,answer_required,cms_question_text,font_size_id,assessment_name
0,cbdc2009-51d5-4935-921c-d68f82ba7370,35efce12-dac3-4b4e-9207-84ecba44d2a4,QUAD,had nightmares about the events related to cov...,1,1,2020-04-12 14:54:26.638161+00:00,2020-04-12 14:54:26.638161+00:00,False,True,None,DEFAULT,PCPTSD
1,7f570aa2-e4af-48d3-9707-c26f20c261f9,35efce12-dac3-4b4e-9207-84ecba44d2a4,QUAD,tried hard not to think about events related ...,1,2,2020-04-12 14:54:26.638161+00:00,2020-04-12 14:54:26.638161+00:00,False,True,None,DEFAULT,PCPTSD

### Question Type

In [47]:
# Get question type data
question_type = get_table_data(cursor, 'question_type')

In [48]:
# Save master data
question_type.to_csv(MASTER_DATA_PATH + 'question_type_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [49]:
# Display adjusted data
question_type.head(2)

,question_type_id,description,allow_multiple_answers,requires_text_response
0,RADIO,Radio Group,False,False
1,DROPDOWN,Dropdown,False,False

## Engagment

### Content

In [50]:
# Get content data
content = get_table_data(cursor, 'content')

# Filter for relevant data
content = content[content['owner_institution_id']=='PENN']

In [51]:
# Save master data
content.to_csv(MASTER_DATA_PATH + 'content_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [52]:
# Display adjusted data
content.head(2)

,content_id,content_type_id,title,url,date_created,image_url,description,author,created,last_updated,owner_institution_id,deleted_flag,archived_flag,owner_institution_approval_status_id,other_institution_approval_status_id,visibility_id,duration_in_minutes,content_type_label_id
54,5f04272d-3f05-42c2-9535-dab5b60629ff,PODCAST,"Wellfocused Podcast: Season 1, Episode 8 - Wor...",https://youtu.be/iQQcAe3vyHY,2021-08-20 00:00:00+00:00,https://penncobalt.s3.us-east-2.amazonaws.com/...,This episode of The Wellfocused Podcast featur...,Mitchell Sherman,2021-08-20 13:59:44.246723+00:00,2021-08-20 14:03:31.516023+00:00,PENN,False,False,APPROVED,PENDING,PRIVATE,24.0,PODCAST
69,a55a0b39-328e-4ccf-a8ca-ed94d1d42140,VIDEO,Unpacking Emotions around the Holidays,https://vimeo.com/483787244,None,https://penncobalt.s3.us-east-2.amazonaws.com/...,"Cobalt’s Innovation Associate, Avanti Rangneka...","Dr. Thea Gallagher, PsyD",2020-11-25 14:26:58.779670+00:00,2021-01-21 17:13:42.753936+00:00,PENN,False,True,APPROVED,APPROVED,PRIVATE,15.0,VIDEO

### Activity Tracking
* To find the content users are consuming: activity_tracking.activity_key --> content.content_id
* content[content['content_id']=='0e997dda-15e1-446c-bcda-bea3a2271c60']

In [53]:
# Get activity tracking data
activity_tracking = get_table_data(cursor, 'activity_tracking')

# Activity tracking subsets
activity_tracking_past = activity_tracking[activity_tracking['created'] <= current_date]
activity_tracking_past_30day = activity_tracking_past[activity_tracking_past['created'] >= past_30day]
activity_tracking_past_90day = activity_tracking_past[activity_tracking_past['created'] >= past_90day]

In [54]:
# Save master data
activity_tracking.to_csv(MASTER_DATA_PATH + 'activity_tracking_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [55]:
# Display adjusted data
activity_tracking.head(2)

,activity_tracking_id,account_id,activity_type_id,activity_action_id,activity_key,created,last_updated
0,13e3f044-ee6f-4201-89ac-3de0eb43b9d8,7ec85f85-83c9-4baf-907e-dd291bfea29f,CONTENT,VIEW,0e997dda-15e1-446c-bcda-bea3a2271c60,2020-04-12 15:23:31.663331+00:00,2020-04-12 15:23:31.663331+00:00
1,a84aa492-3674-4ff8-a440-65bd2bea250b,b51a9e56-2a34-4a93-b32c-bab3030ff32b,CONTENT,VIEW,0ae9c419-d0e7-4414-8912-6243805737b4,2020-04-12 16:04:51.026307+00:00,2020-04-12 16:04:51.026307+00:00

## Sessions

### Account Session
* NOTE 10/05/2021:
    * complete_flag=True refers to completed sessions (i.e. fully completed assessments with all individual sessions answers and complete_flag==True
    * complete_flag=False refers to incomplete sessions (i.e. assessments with or without individual session answers  and complete_flag==False

In [56]:
# Get account session data
account_session = get_table_data(cursor, 'account_session')

# Adjust columns
account_session['assessment_name'] = account_session['assessment_id'].map(assessment_dict)

In [57]:
# Save master data
account_session.to_csv(MASTER_DATA_PATH + 'account_session_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [58]:
# Display adjusted data
account_session.head(2)

,account_session_id,account_id,assessment_id,current_flag,complete_flag,created,last_updated,assessment_name
0,bc04a78f-88f2-47e5-9a10-da9218783ef0,009bc0c1-4b47-4c45-9087-a3318eb2d82e,5fd4d04b-a121-4b47-8743-27f4400c3593,False,True,2020-04-12 14:59:19.380639+00:00,2020-04-12 21:54:03.888699+00:00,INTRO
1,ca5a03c2-d92c-4a8c-aa37-06b66ded0b7b,69760d0b-3fd3-4194-876e-998802f36482,5fd4d04b-a121-4b47-8743-27f4400c3593,True,False,2020-04-14 13:05:49.342533+00:00,2020-04-14 13:05:49.342533+00:00,INTRO

### Account Session Answer
* NOTE 10/05/2021:
    * complete_flag=False refers to incomplete account sessions (i.e. incomplete assessments)
    * filter for complete_flag=True, groupby account_id and keep accounts where the sorted list of question_id's is equal to the sorted list of questions for each assessment

In [59]:
# Get account session answer data
account_session_answer = get_table_data(cursor, 'account_session_answer')

# Merge account session and account session answer on account_session_id
account_session_answer = account_session_answer.merge(account_session, how='inner', 
                                                             left_on='account_session_id', 
                                                             right_on='account_session_id',
                                                             suffixes=['_session_answer','_session'])
use_cols = ['account_session_answer_id','account_session_id','account_id','assessment_id','answer_id',
            'complete_flag','created_session_answer','created_session']
account_session_answer = account_session_answer[use_cols]
account_session_answer['assessment_name'] = account_session_answer['assessment_id'].map(assessment_dict)

# Merge account session answer and accounts for stats on account_id
use_cols = ['account_id','account_source_id','sso_id','first_name','last_name','email_address','phone_number','created']
accounts_for_stats_merge = accounts_for_stats[use_cols].copy()
accounts_for_stats_merge = accounts_for_stats_merge.rename(columns={'created':'created_account'})
account_session_answer = account_session_answer.merge(accounts_for_stats_merge,how='inner',left_on='account_id',right_on='account_id')

# Merge account session answer and answer on answer_id
use_cols = ['answer_id','question_id','answer_text','display_order','answer_value','crisis','call']
answer_merge = answer[use_cols].copy()
account_session_answer = account_session_answer.merge(answer_merge,how='inner',left_on='answer_id', right_on='answer_id')

In [60]:
# Save master data
account_session_answer.to_csv(MASTER_DATA_PATH + 'account_session_answer_master_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [61]:
# Display adjusted data
account_session_answer.head(2)

,account_session_answer_id,account_session_id,account_id,assessment_id,answer_id,complete_flag,created_session_answer,created_session,assessment_name,account_source_id,sso_id,first_name,last_name,email_address,phone_number,created_account,question_id,answer_text,display_order,answer_value,crisis,call
0,11d4b64b-50e9-4048-a1de-c970c7303d9d,ca01e3f4-661d-42d2-9cb0-6d00d901b2b3,29d3261d-26eb-407c-a946-14cbb75e7d2e,5fd4d04b-a121-4b47-8743-27f4400c3593,9ddb1cc0-3b01-4dc9-8d9c-66a01077d33f,True,2020-04-13 09:13:25.955899+00:00,2020-04-13 09:13:12.778684+00:00,INTRO,PENN_SSO,59140641,Lorraine,Dugoff,Lorraine.Dugoff@pennmedicine.upenn.edu,None,2020-04-13 09:12:54.638000+00:00,1daf61cc-20e0-4aaf-81f8-6d05a84f7fa6,hospital,2,0,False,False
1,27d5ccd0-135e-4ed0-ae6b-10b9efd41bbe,c087dc1a-c5d1-4a0a-bfc7-86666ec7967e,a6f27ab3-29cd-44de-83db-5aeca09edaca,5fd4d04b-a121-4b47-8743-27f4400c3593,9ddb1cc0-3b01-4dc9-8d9c-66a01077d33f,True,2020-04-13 11:10:26.972984+00:00,2020-04-13 11:10:20.094001+00:00,INTRO,PENN_SSO,21148935,Alexander,Milone,Alexander.Milone@pennmedicine.upenn.edu,None,2020-04-13 11:10:17.246242+00:00,1daf61cc-20e0-4aaf-81f8-6d05a84f7fa6,hospital,2,0,False,False

# Derived Data

## Assessment Outcomes

### PHQ9

In [62]:
# Crisis question
PHQ9_crisis_response = account_session_answer[account_session_answer['crisis']==True].answer_text.value_counts()

#### Score Distribution

In [63]:
# Score distribution
PHQ9_answers = account_session_answer[account_session_answer['question_id'].isin(PHQ9_questions)]
PHQ9_scores = PHQ9_answers.groupby(['account_id']).filter(lambda x: sorted(x.question_id)==sorted(PHQ9_questions)).groupby(['account_id']).sum()
PHQ9_data = PHQ9_scores.answer_value.value_counts().sort_index()
PHQ9_data.to_csv(CHART_PATH + 'PHQ9_hist_allTime_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

#### Time Series

In [64]:
# Get score dates
PHQ9_completed_dates = PHQ9_answers.sort_values(['account_id','created_session_answer']).groupby(['account_id'])[['created_session_answer']].last()
PHQ9_scores_dates = PHQ9_scores[['answer_value','crisis']].merge(PHQ9_completed_dates, how='inner', left_index=True, right_index=True)

# Adjust columns
PHQ9_scores_dates['year'] = PHQ9_scores_dates['created_session_answer'].dt.year
PHQ9_scores_dates['month'] = PHQ9_scores_dates['created_session_answer'].dt.month
PHQ9_scores_dates['week'] = PHQ9_scores_dates['created_session_answer'].dt.week
PHQ9_scores_dates['day'] = PHQ9_scores_dates['created_session_answer'].dt.day
PHQ9_scores_dates['year_month'] = PHQ9_scores_dates['created_session_answer'].values.astype('datetime64[M]')
PHQ9_scores_dates['year_month_week'] = PHQ9_scores_dates['created_session_answer'].values.astype('datetime64[W]')
PHQ9_scores_dates['dayofyear'] = PHQ9_scores_dates['created_session_answer'].apply(lambda x: get_date_str(x))

# Save data
PHQ9_scores_dates.to_csv(CHART_PATH + 'PHQ9_scores_dates_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [65]:
# Monthly time series data
PHQ9_ts_count = pd.DataFrame(PHQ9_scores_dates.groupby(['year','month']).count().answer_value)
PHQ9_ts_mean = pd.DataFrame(PHQ9_scores_dates.groupby(['year','month']).mean().answer_value)
PHQ9_ts_median = pd.DataFrame(PHQ9_scores_dates.groupby(['year','month']).median().answer_value)
PHQ9_ts_sum = pd.DataFrame(PHQ9_scores_dates.groupby(['year','month']).sum().crisis)
PHQ9_ts_data = PHQ9_ts_count.merge(
    PHQ9_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PHQ9_ts_median, how='inner', left_index=True, right_index=True).merge(
    PHQ9_ts_sum, how='inner', left_index=True, right_index=True)
PHQ9_ts_data.columns = ['PHQ9_score_count', 'PHQ9_score_mean', 'PHQ9_score_median', 'PHQ9_crisis_count']

# Save data
PHQ9_ts_data.to_csv(CHART_PATH + 'PHQ9_monthly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [66]:
# Weekly time series data
PHQ9_weekly_ts_count = pd.DataFrame(PHQ9_scores_dates.groupby(['year_month_week']).count().answer_value)
PHQ9_weekly_ts_count.index = pd.MultiIndex.from_arrays([PHQ9_weekly_ts_count.index.year, 
                                                            PHQ9_weekly_ts_count.index.month, 
                                                            PHQ9_weekly_ts_count.index.day], 
                                                            names=['Year','Month','Week'])
PHQ9_weekly_ts_mean = pd.DataFrame(PHQ9_scores_dates.groupby(['year_month_week']).mean().answer_value)
PHQ9_weekly_ts_mean.index = pd.MultiIndex.from_arrays([PHQ9_weekly_ts_mean.index.year, 
                                                            PHQ9_weekly_ts_mean.index.month, 
                                                            PHQ9_weekly_ts_mean.index.day], 
                                                            names=['Year','Month','Week'])
PHQ9_weekly_ts_median = pd.DataFrame(PHQ9_scores_dates.groupby(['year_month_week']).median().answer_value)
PHQ9_weekly_ts_median.index = pd.MultiIndex.from_arrays([PHQ9_weekly_ts_median.index.year, 
                                                            PHQ9_weekly_ts_median.index.month, 
                                                            PHQ9_weekly_ts_median.index.day], 
                                                            names=['Year','Month','Week'])
PHQ9_weekly_ts_sum = pd.DataFrame(PHQ9_scores_dates.groupby(['year_month_week']).sum().crisis)
PHQ9_weekly_ts_sum.index = pd.MultiIndex.from_arrays([PHQ9_weekly_ts_sum.index.year, 
                                                            PHQ9_weekly_ts_sum.index.month, 
                                                            PHQ9_weekly_ts_sum.index.day], 
                                                            names=['Year','Month','Week'])

PHQ9_weekly_ts_data = PHQ9_weekly_ts_count.merge(
    PHQ9_weekly_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PHQ9_weekly_ts_median, how='inner', left_index=True, right_index=True).merge(
    PHQ9_weekly_ts_sum, how='inner', left_index=True, right_index=True)
PHQ9_weekly_ts_data.columns = ['PHQ9_score_count', 'PHQ9_score_mean', 'PHQ9_score_median', 'PHQ9_crisis_count']

# Save data
PHQ9_weekly_ts_data.to_csv(CHART_PATH + 'PHQ9_weekly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [67]:
PHQ9_ts_data.head(2)

            PHQ9_score_count  PHQ9_score_mean  PHQ9_score_median  \
year month
2020 4                    92          10.9891               10.0
     5                    86          11.7791               10.0

            PHQ9_crisis_count
year month
2020 4                   12.0
     5                   11.0

In [68]:
PHQ9_weekly_ts_data.head(2)

                 PHQ9_score_count  PHQ9_score_mean  PHQ9_score_median  \
Year Month Week
2020 4     9                   32          11.3125                9.5
           16                  34          11.1471                9.0

                 PHQ9_crisis_count
Year Month Week
2020 4     9                   6.0
           16                  5.0

### GAD7

#### Score Distribution

In [69]:
# Score distribution
GAD7_answers = account_session_answer[account_session_answer['question_id'].isin(GAD7_questions)]
GAD7_scores = GAD7_answers.groupby(['account_id']).filter(lambda x: sorted(x.question_id)==sorted(GAD7_questions)).groupby(['account_id']).sum()
GAD7_data = GAD7_scores.answer_value.value_counts().sort_index()
GAD7_data.to_csv(CHART_PATH + 'GAD7_hist_allTime_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

#### Time Series

In [70]:
# Get score dates
GAD7_completed_dates = GAD7_answers.sort_values(['account_id','created_session_answer']).groupby(['account_id'])[['created_session_answer']].last()
GAD7_scores_dates = GAD7_scores[['answer_value','crisis']].merge(GAD7_completed_dates, how='inner', left_index=True, right_index=True)

# Adjust columns
GAD7_scores_dates['year'] = GAD7_scores_dates['created_session_answer'].dt.year
GAD7_scores_dates['month'] = GAD7_scores_dates['created_session_answer'].dt.month
GAD7_scores_dates['week'] = GAD7_scores_dates['created_session_answer'].dt.week
GAD7_scores_dates['day'] = GAD7_scores_dates['created_session_answer'].dt.day
GAD7_scores_dates['year_month'] = GAD7_scores_dates['created_session_answer'].values.astype('datetime64[M]')
GAD7_scores_dates['year_month_week'] = GAD7_scores_dates['created_session_answer'].values.astype('datetime64[W]')
GAD7_scores_dates['dayofyear'] = GAD7_scores_dates['created_session_answer'].apply(lambda x: get_date_str(x))

# Save data
GAD7_scores_dates.to_csv(CHART_PATH + 'GAD7_scores_dates_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [71]:
# Monthly time series data
GAD7_ts_count = pd.DataFrame(GAD7_scores_dates.groupby(['year','month']).count().answer_value)
GAD7_ts_mean = pd.DataFrame(GAD7_scores_dates.groupby(['year','month']).mean().answer_value)
GAD7_ts_median = pd.DataFrame(GAD7_scores_dates.groupby(['year','month']).median().answer_value)
GAD7_ts_sum = pd.DataFrame(GAD7_scores_dates.groupby(['year','month']).sum().crisis)
GAD7_ts_data = GAD7_ts_count.merge(
    GAD7_ts_mean, how='inner', left_index=True, right_index=True).merge(
    GAD7_ts_median, how='inner', left_index=True, right_index=True).merge(
    GAD7_ts_sum, how='inner', left_index=True, right_index=True)
GAD7_ts_data.columns = ['GAD7_score_count', 'GAD7_score_mean', 'GAD7_score_median', 'GAD7_crisis_count']

# Save data
GAD7_ts_data.to_csv(CHART_PATH + 'GAD7_monthly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [72]:
# Weekly time series data
GAD7_weekly_ts_count = pd.DataFrame(GAD7_scores_dates.groupby(['year_month_week']).count().answer_value)
GAD7_weekly_ts_count.index = pd.MultiIndex.from_arrays([GAD7_weekly_ts_count.index.year, 
                                                            GAD7_weekly_ts_count.index.month, 
                                                            GAD7_weekly_ts_count.index.day], 
                                                            names=['Year','Month','Week'])
GAD7_weekly_ts_mean = pd.DataFrame(GAD7_scores_dates.groupby(['year_month_week']).mean().answer_value)
GAD7_weekly_ts_mean.index = pd.MultiIndex.from_arrays([GAD7_weekly_ts_mean.index.year, 
                                                            GAD7_weekly_ts_mean.index.month, 
                                                            GAD7_weekly_ts_mean.index.day], 
                                                            names=['Year','Month','Week'])
GAD7_weekly_ts_median = pd.DataFrame(GAD7_scores_dates.groupby(['year_month_week']).median().answer_value)
GAD7_weekly_ts_median.index = pd.MultiIndex.from_arrays([GAD7_weekly_ts_median.index.year, 
                                                            GAD7_weekly_ts_median.index.month, 
                                                            GAD7_weekly_ts_median.index.day], 
                                                            names=['Year','Month','Week'])
GAD7_weekly_ts_sum = pd.DataFrame(GAD7_scores_dates.groupby(['year_month_week']).sum().crisis)
GAD7_weekly_ts_sum.index = pd.MultiIndex.from_arrays([GAD7_weekly_ts_sum.index.year, 
                                                            GAD7_weekly_ts_sum.index.month, 
                                                            GAD7_weekly_ts_sum.index.day], 
                                                            names=['Year','Month','Week'])

GAD7_weekly_ts_data = GAD7_weekly_ts_count.merge(
    GAD7_weekly_ts_mean, how='inner', left_index=True, right_index=True).merge(
    GAD7_weekly_ts_median, how='inner', left_index=True, right_index=True).merge(
    GAD7_weekly_ts_sum, how='inner', left_index=True, right_index=True)
GAD7_weekly_ts_data.columns = ['GAD7_score_count', 'GAD7_score_mean', 'GAD7_score_median', 'GAD7_crisis_count']

# Save data
GAD7_weekly_ts_data.to_csv(CHART_PATH + 'GAD7_weekly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [73]:
GAD7_ts_data.head(2)

            GAD7_score_count  GAD7_score_mean  GAD7_score_median  \
year month
2020 4                    91          10.9780               11.0
     5                    85          11.4118               10.0

            GAD7_crisis_count
year month
2020 4                    0.0
     5                    0.0

In [74]:
GAD7_weekly_ts_data.head(2)

                 GAD7_score_count  GAD7_score_mean  GAD7_score_median  \
Year Month Week
2020 4     9                   29          11.3793               10.0
           16                  35           9.8857               10.0

                 GAD7_crisis_count
Year Month Week
2020 4     9                   0.0
           16                  0.0

### PHQ4

#### Score Distribution

In [75]:
# Score distribution
PHQ4_answers = account_session_answer[account_session_answer['question_id'].isin(PHQ4_questions)]
PHQ4_scores = PHQ4_answers.groupby(['account_id']).filter(lambda x: sorted(x.question_id)==sorted(PHQ4_questions)).groupby(['account_id']).sum()
PHQ4_data = PHQ4_scores.answer_value.value_counts().sort_index()
PHQ4_data.to_csv(CHART_PATH + 'PHQ4_hist_allTime_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

#### Time Series

In [76]:
# Get score dates
PHQ4_completed_dates = PHQ4_answers.sort_values(['account_id','created_session_answer']).groupby(['account_id'])[['created_session_answer']].last()
PHQ4_scores_dates = PHQ4_scores[['answer_value','crisis']].merge(PHQ4_completed_dates, how='inner', left_index=True, right_index=True)

# Adjust columns
PHQ4_scores_dates['year'] = PHQ4_scores_dates['created_session_answer'].dt.year
PHQ4_scores_dates['month'] = PHQ4_scores_dates['created_session_answer'].dt.month
PHQ4_scores_dates['week'] = PHQ4_scores_dates['created_session_answer'].dt.week
PHQ4_scores_dates['day'] = PHQ4_scores_dates['created_session_answer'].dt.day
PHQ4_scores_dates['year_month'] = PHQ4_scores_dates['created_session_answer'].values.astype('datetime64[M]')
PHQ4_scores_dates['year_month_week'] = PHQ4_scores_dates['created_session_answer'].values.astype('datetime64[W]')
PHQ4_scores_dates['dayofyear'] = PHQ4_scores_dates['created_session_answer'].apply(lambda x: get_date_str(x))

# Save data
PHQ4_scores_dates.to_csv(CHART_PATH + 'PHQ4_scores_dates_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [77]:
# Monthly time series data
PHQ4_ts_count = pd.DataFrame(PHQ4_scores_dates.groupby(['year','month']).count().answer_value)
PHQ4_ts_mean = pd.DataFrame(PHQ4_scores_dates.groupby(['year','month']).mean().answer_value)
PHQ4_ts_median = pd.DataFrame(PHQ4_scores_dates.groupby(['year','month']).median().answer_value)
PHQ4_ts_sum = pd.DataFrame(PHQ4_scores_dates.groupby(['year','month']).sum().crisis)
PHQ4_ts_data = PHQ4_ts_count.merge(
    PHQ4_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PHQ4_ts_median, how='inner', left_index=True, right_index=True).merge(
    PHQ4_ts_sum, how='inner', left_index=True, right_index=True)
PHQ4_ts_data.columns = ['PHQ4_score_count', 'PHQ4_score_mean', 'PHQ4_score_median', 'PHQ4_crisis_count']

# Save data
PHQ4_ts_data.to_csv(CHART_PATH + 'PHQ4_monthly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [78]:
# Weekly time series data
PHQ4_weekly_ts_count = pd.DataFrame(PHQ4_scores_dates.groupby(['year_month_week']).count().answer_value)
PHQ4_weekly_ts_count.index = pd.MultiIndex.from_arrays([PHQ4_weekly_ts_count.index.year, 
                                                            PHQ4_weekly_ts_count.index.month, 
                                                            PHQ4_weekly_ts_count.index.day], 
                                                            names=['Year','Month','Week'])
PHQ4_weekly_ts_mean = pd.DataFrame(PHQ4_scores_dates.groupby(['year_month_week']).mean().answer_value)
PHQ4_weekly_ts_mean.index = pd.MultiIndex.from_arrays([PHQ4_weekly_ts_mean.index.year, 
                                                            PHQ4_weekly_ts_mean.index.month, 
                                                            PHQ4_weekly_ts_mean.index.day], 
                                                            names=['Year','Month','Week'])
PHQ4_weekly_ts_median = pd.DataFrame(PHQ4_scores_dates.groupby(['year_month_week']).median().answer_value)
PHQ4_weekly_ts_median.index = pd.MultiIndex.from_arrays([PHQ4_weekly_ts_median.index.year, 
                                                            PHQ4_weekly_ts_median.index.month, 
                                                            PHQ4_weekly_ts_median.index.day], 
                                                            names=['Year','Month','Week'])
PHQ4_weekly_ts_sum = pd.DataFrame(PHQ4_scores_dates.groupby(['year_month_week']).sum().crisis)
PHQ4_weekly_ts_sum.index = pd.MultiIndex.from_arrays([PHQ4_weekly_ts_sum.index.year, 
                                                            PHQ4_weekly_ts_sum.index.month, 
                                                            PHQ4_weekly_ts_sum.index.day], 
                                                            names=['Year','Month','Week'])

PHQ4_weekly_ts_data = PHQ4_weekly_ts_count.merge(
    PHQ4_weekly_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PHQ4_weekly_ts_median, how='inner', left_index=True, right_index=True).merge(
    PHQ4_weekly_ts_sum, how='inner', left_index=True, right_index=True)
PHQ4_weekly_ts_data.columns = ['PHQ4_score_count', 'PHQ4_score_mean', 'PHQ4_score_median', 'PHQ4_crisis_count']

# Save data
PHQ4_weekly_ts_data.to_csv(CHART_PATH + 'PHQ4_weekly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [79]:
PHQ4_ts_data.head(2)

            PHQ4_score_count  PHQ4_score_mean  PHQ4_score_median  \
year month
2020 4                   119           5.7647                6.0
     5                   120           5.4333                4.0

            PHQ4_crisis_count
year month
2020 4                    0.0
     5                    0.0

In [80]:
PHQ4_weekly_ts_data.head(2)

                 PHQ4_score_count  PHQ4_score_mean  PHQ4_score_median  \
Year Month Week
2020 4     9                   38           6.1842                6.0
           16                  45           5.4889                5.0

                 PHQ4_crisis_count
Year Month Week
2020 4     9                   0.0
           16                  0.0

### PC-PTSD

#### Score Distribution

In [81]:
# Score distribution
PCPTSD_answers = account_session_answer[account_session_answer['question_id'].isin(PCPTSD_questions)]
PCPTSD_scores = PCPTSD_answers.groupby(['account_id']).filter(lambda x: sorted(x.question_id)==sorted(PCPTSD_questions)).groupby(['account_id']).sum()
PCPTSD_data = PCPTSD_scores.answer_value.value_counts().sort_index()
PCPTSD_data.to_csv(CHART_PATH + 'PCPTSD_hist_allTime_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

#### Time Series

In [82]:
# Get score dates
PCPTSD_completed_dates = PCPTSD_answers.sort_values(['account_id','created_session_answer']).groupby(['account_id'])[['created_session_answer']].last()
PCPTSD_scores_dates = PCPTSD_scores[['answer_value','crisis']].merge(PCPTSD_completed_dates, how='inner', left_index=True, right_index=True)

# Adjust columns
PCPTSD_scores_dates['year'] = PCPTSD_scores_dates['created_session_answer'].dt.year
PCPTSD_scores_dates['month'] = PCPTSD_scores_dates['created_session_answer'].dt.month
PCPTSD_scores_dates['week'] = PCPTSD_scores_dates['created_session_answer'].dt.week
PCPTSD_scores_dates['day'] = PCPTSD_scores_dates['created_session_answer'].dt.day
PCPTSD_scores_dates['year_month'] = PCPTSD_scores_dates['created_session_answer'].values.astype('datetime64[M]')
PCPTSD_scores_dates['year_month_week'] = PCPTSD_scores_dates['created_session_answer'].values.astype('datetime64[W]')
PCPTSD_scores_dates['dayofyear'] = PCPTSD_scores_dates['created_session_answer'].apply(lambda x: get_date_str(x))

# Save data
PCPTSD_scores_dates.to_csv(CHART_PATH + 'PCPTSD_scores_dates_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [83]:
# Monthly time series data
PCPTSD_ts_count = pd.DataFrame(PCPTSD_scores_dates.groupby(['year','month']).count().answer_value)
PCPTSD_ts_mean = pd.DataFrame(PCPTSD_scores_dates.groupby(['year','month']).mean().answer_value)
PCPTSD_ts_median = pd.DataFrame(PCPTSD_scores_dates.groupby(['year','month']).median().answer_value)
PCPTSD_ts_sum = pd.DataFrame(PCPTSD_scores_dates.groupby(['year','month']).sum().crisis)
PCPTSD_ts_data = PCPTSD_ts_count.merge(
    PCPTSD_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PCPTSD_ts_median, how='inner', left_index=True, right_index=True).merge(
    PCPTSD_ts_sum, how='inner', left_index=True, right_index=True)
PCPTSD_ts_data.columns = ['PCPTSD_score_count', 'PCPTSD_score_mean', 'PCPTSD_score_median', 'PCPTSD_crisis_count']

# Save data
PCPTSD_ts_data.to_csv(CHART_PATH + 'PCPTSD_monthly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [84]:
# Weekly time series data
PCPTSD_weekly_ts_count = pd.DataFrame(PCPTSD_scores_dates.groupby(['year_month_week']).count().answer_value)
PCPTSD_weekly_ts_count.index = pd.MultiIndex.from_arrays([PCPTSD_weekly_ts_count.index.year, 
                                                            PCPTSD_weekly_ts_count.index.month, 
                                                            PCPTSD_weekly_ts_count.index.day], 
                                                            names=['Year','Month','Week'])
PCPTSD_weekly_ts_mean = pd.DataFrame(PCPTSD_scores_dates.groupby(['year_month_week']).mean().answer_value)
PCPTSD_weekly_ts_mean.index = pd.MultiIndex.from_arrays([PCPTSD_weekly_ts_mean.index.year, 
                                                            PCPTSD_weekly_ts_mean.index.month, 
                                                            PCPTSD_weekly_ts_mean.index.day], 
                                                            names=['Year','Month','Week'])
PCPTSD_weekly_ts_median = pd.DataFrame(PCPTSD_scores_dates.groupby(['year_month_week']).median().answer_value)
PCPTSD_weekly_ts_median.index = pd.MultiIndex.from_arrays([PCPTSD_weekly_ts_median.index.year, 
                                                            PCPTSD_weekly_ts_median.index.month, 
                                                            PCPTSD_weekly_ts_median.index.day], 
                                                            names=['Year','Month','Week'])
PCPTSD_weekly_ts_sum = pd.DataFrame(PCPTSD_scores_dates.groupby(['year_month_week']).sum().crisis)
PCPTSD_weekly_ts_sum.index = pd.MultiIndex.from_arrays([PCPTSD_weekly_ts_sum.index.year, 
                                                            PCPTSD_weekly_ts_sum.index.month, 
                                                            PCPTSD_weekly_ts_sum.index.day], 
                                                            names=['Year','Month','Week'])

PCPTSD_weekly_ts_data = PCPTSD_weekly_ts_count.merge(
    PCPTSD_weekly_ts_mean, how='inner', left_index=True, right_index=True).merge(
    PCPTSD_weekly_ts_median, how='inner', left_index=True, right_index=True).merge(
    PCPTSD_weekly_ts_sum, how='inner', left_index=True, right_index=True)
PCPTSD_weekly_ts_data.columns = ['PCPTSD_score_count', 'PCPTSD_score_mean', 'PCPTSD_score_median', 'PCPTSD_crisis_count']

# Save data
PCPTSD_weekly_ts_data.to_csv(CHART_PATH + 'PCPTSD_weekly_' + str(datetime.datetime.now().date()).replace('-','') + '.csv')

In [85]:
PCPTSD_ts_data.head(2)

            PCPTSD_score_count  PCPTSD_score_mean  PCPTSD_score_median  \
year month
2020 4                      99             2.4141                  3.0
     5                      89             2.3596                  2.0

            PCPTSD_crisis_count
year month
2020 4                      0.0
     5                      0.0

In [86]:
PCPTSD_weekly_ts_data.head(2)

                 PCPTSD_score_count  PCPTSD_score_mean  PCPTSD_score_median  \
Year Month Week
2020 4     9                     33             2.3636                  3.0
           16                    39             2.2564                  2.0

                 PCPTSD_crisis_count
Year Month Week
2020 4     9                     0.0
           16                    0.0